<div class="container">
  <h3>{{ title }}</h3>
  <hr />
  <div class="shadow-lg p-3 mb-5 bg-body rounded border">
    <h5><a class="nav-link" routerLink="/areas" aria-current="page">Areas</a></h5>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body rounded border">
    <h5><a class="nav-link" routerLink="/competitions">Competitions</a></h5>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body rounded border">
    <h5><a class="nav-link" routerLink="/teams">Teams</a></h5>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body rounded border">
    <h5><a class="nav-link" routerLink="/players">Players</a></h5>
  </div>
</div>
